:root{
    --primary-text-color:#757575;
    --primary-title-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #fff;}

    .visually-hidden {
        position: absolute;
          white-space: nowrap;
          width: 1px;
          height: 1px;
          overflow: hidden;
          border: 0;
          padding: 0;
          clip: rect(0 0 0 0);
          clip-path: inset(50%);
          margin: -1px;}

body{
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;}

.logo-accent-header{   
     color: #000;}

.logo-accent-footer{
    color: var(--primary-white-color);
}

.logo {
    color: var(--accent-color);
    font-size: 26px;
    line-height: 1.19;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 0.03em;}

.main-nav {
    color: var(--primary-title-color);
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;}

.main-nav:hover, .main-nav:focus {
color: var(--accent-color);}

.link-current {
    color: var(--accent-color);}

.nav {
    color: var(--primary-text-color);
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;}

.nav:hover, .nav:focus { 
    color: var(--accent-color);}

.main-section{
    background-color: #2F303A;}

h1{
    font-weight: 900;
font-size: 44px;
line-height: 1.35;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--primary-white-color); }

 .main-button{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
font-size: 16px;
line-height: 1.9;
display: flex;
letter-spacing: 0.06em;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer; }

.main-button:hover, .main-button:focus {
    background-color: #188CE8;
}

.title-advantage{
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--primary-title-color);}

.text-advantages{
    font-weight: 400;
font-size: 14px;
line-height: 1.7;
}

h2{font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
        color: var(--primary-title-color)}

.team {background-color: #f5f4fA;}

.card-team{ background-color: var(--primary-white-color);
width: 270px;}

.card-team-title{
    font-weight: 500;
font-size: 16px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-title-color);}

.card-team-text {
    font-size: 16px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
}

a {text-decoration: none;}

.list {
    list-style: none}

    .portfolio-button{
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-title-color);}

.portfolio-button:hover, .portfolio-button:focus{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;}

.portfolio-card-title {
    font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-title-color);}

.text{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
width: 370px;}

.footer {
    background-color: #2f303a;
}

address{font-style: normal;}

.nav-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);}

.nav-link-footer{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);}

    .nav-footer:hover, .nav-footer:focus {
        color: var(--accent-color);
    }

  .current{background-color: var(--accent-color);
color: var(--primary-white-color);}